<h1>Schliessung eines Kart-Passes</h1>
<p>Ich bin die 'close-action' vom 'KartPass-Controller'</p>
<p>Das wird auch so genannt: 'KartPass#close'</p>
<p>Find me in app/views/kart_pass/close.html.erb</p>
