<h1>Teilnahme eines Kart-Passes buchen</h1>
<p>Ich bin die 'join-action' vom 'KartPass-Controller'</p>
<p>Das wird auch so genannt: 'KartPass#join'</p>
<p>Find me in app/views/kart_pass/join.html.erb</p>
