<h1>Eroeffnung eines Kart-Passes</h1>
<p>Ich bin die 'open-action' vom 'KartPass-Controller'</p>
<p>Das wird auch so genannt: 'KartPass#open'</p>
<p>Find me in app/views/kart_pass/open.html.erb</p>
<p>
Die aktuelle Uhrzeit ist 
<%= @current_time %>
</p>

<%= render "footer", :start_year => '2011' %>
