<h1>Statistiken eines Kart-Passes auffuehren</h1>
<p>Ich bin die 'stats-action' vom 'KartPass-Controller'</p>
<p>Das wird auch so genannt: 'KartPass#stats'</p>

<p>Find me in app/views/kart_pass/stats.html.erb</p>
